dbVendor=mysql 
dbConnectString=dbi:mysql:orthomcl;host=engaging-mysql
dbLogin=chisholmlab
dbPassword=orthomcl
similarSequencesTable=SimilarSequences_term
orthologTable=Ortholog_term
inParalogTable=InParalog_term
coOrthologTable=CoOrtholog_term
interTaxonMatchView=InterTaxonMatch_term
percentMatchCutoff=35
evalueExponentCutoff=-5